@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@1,300&display=swap');

.login-form{
    background-color: #fff;
    width: 70%;
    max-width: 31rem;
    min-height: 28rem;
    border-radius: 30px;
    border: 3px solid rgba(8, 7, 7, 0.822);
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}
.login-form h2{
    font-family: 'Kaushan Script', cursive;
    color: #d62828f6;
    padding-top: 2.5rem;
    font-size: 1.9rem;
    letter-spacing: 0.15em;
}
.login-form input{
    border:0;
    background-color: #fff;
    border: 2px solid #b30000;
    transition: width 0.3s ease-in-out, background-color 0.2s ease-in;
    border-radius: 30px;
    width: 55%;
    margin: 0.8rem;
    margin-top: 1.9rem;
    padding: 1.25rem;
    text-align: center;
    color: #262626;
    font-size: 14px;
    outline: none;
}
  
.login-form input[type=text]:hover, input[type=password]:hover{
    background-color: rgb(255, 214, 221);
}
  
.login-form input[type=text]:focus, input[type=password]:focus{
    width: 70%;
    border-color: #17cf42;
}
.login-form .login-button{
    width: 35%;
    border-color:#d62828f6;
    transition: all 0.2s ease-in;
    color: #d62828f6;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1.9rem;
}
  
.login-form .login-button:hover{
    border-color: rgb(43, 5, 5);
    color: #fff;
    background-color:#17cf42;
    cursor: pointer;
}
  