@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@1,300&display=swap');

.prod-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 7px;
    width: auto;
}
.prod-title-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.prod-title{
    font-family: 'Kaushan Script', cursive;
    color: rgb(107, 20, 20);
    letter-spacing: 2px;
    margin-left: 3.125rem;
    margin-top: -0.625rem;
    font-size: 2.5em;
    transition: all 0.4s ease;
}
.prod-subtitle{
    font-family: 'Kaushan Script', cursive;
    color: #d62828d5;
    letter-spacing: 2px;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.24em;
    transition: all 0.2s;
}

@media screen and (max-width:700px){
    .prod-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 5px;
        width: auto;
    }
    .prod-title-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .prod-title{
        margin-left: 1rem;
    }
    .prod-subtitle{
        margin-left: 1rem;
        margin-top: -0.3rem;
    }
}